@{
    ViewBag.Title = "About Us";
}

<h3>Acerca de </h3>
<p>
    Sistema de informacion programa de ingeniería de sistemas.
</p>
<p>  
    Contacto: andres_ruiz@unicauca.edu.co | davipen8@unicauca.edu.co
</p>
